@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --font-inter: 'Inter', sans-serif;
    --font-bebas-neue: 'Bebas Neue', sans-serif;
}

body {
    font-family: var(--font-inter);
}

.privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: beige;
    z-index: 2;
  }

  .cam-corners{
    pointer-events: none;
  }

.cam-corner {
    opacity: .8;
    width: 2rem;
    height: 2rem;
    position: absolute;
    inset: 0%;
}

.cam-corner.tl {
    border-top: 1px solid var(--color-red-400);
    border-left: 1px solid var(--color-red-400);
    inset: 0% auto auto 0%;
}

.cam-corner.tr {
    border-top: 1px solid var(--color-red-400);
    border-right: 1px solid var(--color-red-400);
    inset: 0% 0% auto auto;
}

.cam-corner.br {
    border-bottom: 1px solid var(--color-red-400);
    border-right: 1px solid var(--color-red-400);
    inset: auto 0% 0% auto;
}

.cam-corner.bl {
    border-bottom: 1px solid var(--color-red-400);
    border-left: 1px solid var(--color-red-400);
    inset: auto 0% 0% 0%;
}

